$primary: #1b3549;
$red: #CE0033;
$light: #E9E9E9;

$enable-shadows: true;

$font-family-base: 'Nunito', sans-serif;
$headings-font-family: 'Ubuntu', sans-serif;

@import "../bootstrap/scss/bootstrap.scss";

::selection {
    background-color: lightgray;
    color: $primary;
}

body {
    background-image: url(../assets/img/footer_bg.png)
    }

/* liens & boutons */

a, button {
    &:focus {
        outline: none;
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
    }
}

.shadow-cards {
    box-shadow: 12px 12px 2px 1px rgba(206, 0, 51, 0.3) ;
}

h2 {
    letter-spacing: 0.01em;
    padding: 10px 0px;
}

.title-shadow {
    font-size: 35px;
    text-shadow: 4px 4px lightgray;
}

.text-highlight {
    background-color: rgba(206, 0, 51, 0.3);
    color: white;
}

/* navbar */

.nav-link {
    letter-spacing: 0.1em;
    padding-left: 1rem!important;
    padding-right: 1rem!important;
    color: black;
    
    &:hover {
        color: $red;
    }
}

/* footer */

.footer {
    background-color: $primary;
    color: white;
    padding: 50px auto;

    a {
        color: white;
    }
}

path {
    &:hover {
        fill: $red;
        color: $red;
    }
}

/* PAGE INDEX */

.partenaires {
    background-color: rgba(210, 210, 210, 0.5);
}

.rotate  {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
   
    &:hover {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    }
  }

/* PAGE CONTACT*/

.margin-contact-text{
    margin-top:80px;
    margin-bottom: 10px;
}

.bg-img {
    background-image: url(../assets/img/dev.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px !important ;
}

.border-style {
    border-bottom-style: dotted;
    border-color: $red;
}
.map-google {
    width: 100%;
}